.fira-sans-regular{
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}
  
.btn-primary{
    font-weight:bold;
    font-size: 18px;
    color: #006A50;
    padding: 15px 30px;
    border-radius: 8px;
}
.section-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.section-description{
    font-size: 16px;
    color: #0E0E0E;
    margin: 0 24px;
}
.btn-banner{
    font-weight:bold;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #006A50;
    border-radius: 8px;
    padding: 17px 34px;

}
nav ul {
    display: flex;
}
.nav-title{
    font-weight: bold;
    font-size: 32px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 160px;
}
nav ul li{
    list-style: none;
}
.banner{
    display: flex;
    justify-content: space-between;
   margin: 20px 160px ;
   background-color: #C6E4D6;
   border-radius: 24px;
   
}
.banner-content{
    max-width: 550px;
    margin: 50px 110px;
}
.banner-pic{
    width: 250px;
    height: 250px;
    margin: 58px 80px;
}
.vision{

}
.section-description{
  margin: 160px 160px ;
  
}
.section-title{
  margin: 160px 160px ;

}
